header {
    background-color: rosybrown;
}

body{
    background-image: url(../images/4853433.jpg); 
}

div header nav ul :hover {
    background-color: rgb(228, 172, 172);
    font-size: 25px;
    border-radius: 10rem;
    border: 2px solid black;
    text-align: center;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

main div p{
    background-color: rosybrown;
    margin: 5px;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px
    
}

main div aside div image {
    object-fit: cover;
}

footer {
    background-color: rosybrown;
    }

